# Plugwise CodeOwners
# Order is important. The last matching pattern has the most precedence.

# Specific files
hacs.json @plugwise/plugwise-usb

# Main code
/custom_components/ @plugwise/plugwise-usb
/tests/ @plugwise/plugwise-usb

# Tests and development support
/scripts/ @bouwew @compatech

* @plugwise/plugwise-usb

