pytest
pytest-cov
pytest-asyncio
pytest-homeassistant-custom-component
aiousbwatcher
# From our manifest.json for our custom component
plugwise_usb @ https://test-files.pythonhosted.org/packages/c5/29/dfab559414874ac3479b652d38fdcd453a1912a12bd7a36c5577ede62f14/plugwise_usb-0.40.0a112.tar.gz