pytest
pytest-cov
pytest-asyncio
pytest-homeassistant-custom-component
aiousbwatcher
# From our manifest.json for our custom component
plugwise-usb @ https://test-files.pythonhosted.org/packages/ed/08/4f6d82bc26dd107a7f65eed970d518d651ad98756a20a10bb10627d8e748/plugwise_usb-0.43.0a3.tar.gz